h1 Accommodations
ul
  each accommodation in accommodations
    li
      a(href="/accommodations/#{accommodation._id}") #{accommodation.name}
      p #{accommodation.description}
      p Price: #{accommodation.price}